## Data analyst

- SQL
- One shot Query
- Programmers - MNC (Maths And Computing)
- Power BI - Charts

Data Scientist

- Excel
- Line by line (Step)
- Python - numpy, pandas
    - Scales well and are open-source
- Scikit - Data prediction
- Matplot, seaborn - Charts

In [1]:
%pip install numpy

Collecting numpy
  Downloading numpy-1.26.4-cp310-cp310-win32.whl (6.0 MB)
     ---------------------------------------- 6.0/6.0 MB 3.2 MB/s eta 0:00:00
Installing collected packages: numpy
Successfully installed numpy-1.26.4
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

## Numpy
- Work with Arrays
- Performant
- C language (faster)- Statisically oriented (mean, mode, std)

In [1]:
import numpy as np

## Shortcuts
- `ctrl+alt+enter` -> Run the cell
- `shift + enter` -> Move to next cell

In [5]:
marks = np.array([90, 80, 20, 40])
print(marks * 2)
marks_list = [90, 80, 20, 40]
marks_list_dbl = [num * 2 for num in marks_list]
print(marks_list_dbl)
marks_list* 2

[180 160  40  80]
[180, 160, 40, 80]

[90, 80, 20, 40, 90, 80, 20, 40]

In [8]:
np.ones(200) # Identity matrix
np.zeros(90)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0.])

In [10]:
np.arange(10) # 0-9
np.arange(1, 10) # 1-9
np.arange(1, 10, 2) # 1, 3, 5, 7, 9

array([1, 3, 5, 7, 9])

In [11]:
np.arange(10) > 5 # apply condition on each value 1-9

array([False, False, False, False, False, False,  True,  True,  True,
        True])

## Operations
- Multiple, Division, Addition, Subtraction
- Boolean matrix by applying conditionals
- Filter matrix using boolean matrix

In [129]:
np.arange(10) * 2 # multiply each value 1-9
# np.arange(10) + 2
# np.arange(10) / 2
# np.arange(10) - 2

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

In [14]:
first_ten_nums = np.arange(1, 11)
all_gt_five = first_ten_nums  > 5
# filters and gives a new list
print(first_ten_nums[all_gt_five])
# original list is unchanged
first_ten_nums

[ 6  7  8  9 10]

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

## Task
Create a 1..200 numbers and provide a numpy array with all even numbers

In [20]:
nums200 = np.arange(0, 201, 2) 
nums200

array([  0,   2,   4,   6,   8,  10,  12,  14,  16,  18,  20,  22,  24,
        26,  28,  30,  32,  34,  36,  38,  40,  42,  44,  46,  48,  50,
        52,  54,  56,  58,  60,  62,  64,  66,  68,  70,  72,  74,  76,
        78,  80,  82,  84,  86,  88,  90,  92,  94,  96,  98, 100, 102,
       104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128,
       130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154,
       156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180,
       182, 184, 186, 188, 190, 192, 194, 196, 198, 200])

## Task 2 
Without the skip/step of arange

In [21]:
nums200 = np.arange(1, 201) 
# array of booleans
all_even = nums200 % 2 == 0
print(nums200[all_even])
nums200

[  2   4   6   8  10  12  14  16  18  20  22  24  26  28  30  32  34  36
  38  40  42  44  46  48  50  52  54  56  58  60  62  64  66  68  70  72
  74  76  78  80  82  84  86  88  90  92  94  96  98 100 102 104 106 108
 110 112 114 116 118 120 122 124 126 128 130 132 134 136 138 140 142 144
 146 148 150 152 154 156 158 160 162 164 166 168 170 172 174 176 178 180
 182 184 186 188 190 192 194 196 198 200]

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200])

In [42]:
# get 5 random int values between 18 and 60 in an array
ages = np.random.randint(18, 60, 5)
# ages # arrray([29, 36, 18, 34, 38])
ages_list = ages.tolist()
ages_list

[37, 40, 24, 46, 50]

## Performance

- Numpy arrys are 100 times the performance of a python list
- Use %%time

In [120]:
# Evaluate performance

%time

double_ages = [age * 2 for age in ages_list]
double_ages

CPU times: total: 0 ns
Wall time: 0 ns

[74, 80, 48, 92, 100]

In [122]:
%%time

dbl_ages = ages * 2
dbl_ages
# QUICKER!!!!!!!!!

CPU times: total: 0 ns
Wall time: 0 ns

array([ 74,  80,  48,  92, 100])

## Statistically oriented (mean, mode, std)

- mean -> Average 
- model -> The most repeated number (most popular)
- median -> Middle most number
- standard deviation -> Average distance between the mean and numbers

In [75]:
marks = np.random.randint(40, 100, 10)
print(marks)
print(marks.mean())
print(np.mean(marks))

[46 47 48 40 50 62 75 69 42 80]
55.9
55.9

In [76]:
np.median(marks)

49.0

In [77]:
np.sum(marks)

559

## Task 
Investment = R1000
Interest rate = 5%
At the end of 2 years what will the balance be?
1st year = R50 -> R1050
2cnd year = R52.5 -> R1102.5

In [130]:
list_of_values = []
def add_interest(value, years, interest_rate):
    for i in range(years):
        value = value * (1 + interest_rate)
        list_of_values.append(value)
        # print(list_of_values)
    return list_of_values
yearly_amounts = add_interest(1000, 10, 0.05)
print("Yearly changes")
print(yearly_amounts)

years = np.arange(1, 11)
# get value with interest applied (compound) per year
# final_after_years_result = initial_investment * (1 + interest_rate) ** num_years
yearly_return = 1000 * 1.05 ** years
yearly_return_round = [round(value, 2) for value in yearly_return]
print(yearly_return)
print(yearly_return_round)
# Can slice an array like a list
print(f"At the end of 10 years the balance is: R{round(yearly_amounts[-1], 2)}")
# calculate change in % = (((final - initial) / initial) * 100)
print(f"The difference in % at the end of = {round(((yearly_amounts[-1] - 1000)/ 1000) * 100, 2)}")

Yearly changes
[1050.0, 1102.5, 1157.625, 1215.5062500000001, 1276.2815625000003, 1340.0956406250004, 1407.1004226562504, 1477.455443789063, 1551.3282159785163, 1628.8946267774422]
[1050.         1102.5        1157.625      1215.50625    1276.2815625
 1340.09564063 1407.10042266 1477.45544379 1551.32821598 1628.89462678]
[1050.0, 1102.5, 1157.63, 1215.51, 1276.28, 1340.1, 1407.1, 1477.46, 1551.33, 1628.89]
At the end of 10 years the balance is: R1628.89
The difference in % at the end of = 62.89

## Useful methods

- String methods
- unique
- max, mix

In [136]:
salaries = np.random.randint(1_000, 10_000, 10)
print(salaries)

[8758 7228 5689 7093 1870 8484 5289 5795 8904 9684]

In [137]:
print(np.max(salaries), np.argmax(salaries))
print(np.min(salaries), np.argmin(salaries))

9684 9
1870 4

In [146]:
nums = np.random.randint(1, 4, 10)
nums

array([3, 1, 1, 3, 1, 3, 2, 3, 3, 2])

In [152]:
uniq_nums = np.unique(nums)
# Good for 1-D array
np.unique(uniq_nums)[::-1] 
# Good for 1-D & multi-dimensional array
np.flip(uniq_nums)

array([3, 2, 1])

## Task 1
Normalize the Array:

- Trim leading and trailing spaces.
- Convert all items to lowercase.
- Ensure there are no duplicate items in the array.

In [168]:
items = np.array([' Apple', 'banana ', 'GRAPE', 'cucumber', 'Pineapple', ' tomato ', 'Orange', ' lemon', 'Kiwi ', 'mango', 'blueberry ', ' raspberry', 'banana '])
items_stripped = np.char.strip(items)
items_lower = np.char.lower(items_stripped)
no_dup = np.unique(items_lower)
print(no_dup)
# OR
# function composition
np.unique(np.char.lower(np.char.strip(items)))

['apple' 'banana' 'blueberry' 'cucumber' 'grape' 'kiwi' 'lemon' 'mango'
 'orange' 'pineapple' 'raspberry' 'tomato']

array(['apple', 'banana', 'blueberry', 'cucumber', 'grape', 'kiwi',
       'lemon', 'mango', 'orange', 'pineapple', 'raspberry', 'tomato'],
      dtype='<U10')

## Task 2
Filtering Operations:

a. Find and display all items that start with the letter 'b'.

b. Find and display all items that contain the letter 'e' exactly once.

In [210]:
import re
items = np.array([' Apple', 'banana ', 'GRAPE', 'cucumber', 'Pineapple', ' tomato ', 'Orange', ' lemon', 'Kiwi ', 'mango', 'blueberry ', ' raspberry', 'banana '])
items_stripped = np.char.strip(items)
items_lower = np.char.lower(items_stripped)
no_dup = np.unique(items_lower)
startb = np.char.startswith(no_dup, 'b')
print(no_dup[startb])
string_np = " ".join(no_dup.tolist())
print(string_np)
contain_e =  re.findall(r".*[ea]{1}.*", string_np)
print(contain_e)

# quote1 = "funny funy funnnny fuzzy"
# print(quote1)
# find_be = re.findall(r"fu[nz]{2}y", quote1)  # returns a list
# print(find_be)
# no_dup[contain_e]

# contains_e_once = np.char.count(no_dup, 'e') == 1
# no_dup[contains_e_once]

['banana' 'blueberry']
apple banana blueberry cucumber grape kiwi lemon mango orange pineapple raspberry tomato
['apple banana blueberry cucumber grape kiwi lemon mango orange pineapple raspberry tomato']

## Task 3

hourly_visitors = [468, 279, 73, 272, 406, 128, 302, 216, 140, 82]

- Total visitors in the day?
- Which is the peak hour?
- On average how many people visit the website per hour

In [212]:
hourly_visitors = [468, 279, 73, 272, 406, 128, 302, 216, 140, 82]
hourly_visitors_np_array = np.array(hourly_visitors)
print(hourly_visitors_np_array)
# All of these methods below automatically put it into an np array
# Total visitors
print(np.sum(hourly_visitors))
# Peak hour
print(np.max(hourly_visitors))
# Average visitors per hour
print(f"Average visitors per hour: {np.mean(hourly_visitors)}")

[468 279  73 272 406 128 302 216 140  82]
2366
468
Average visitors per hour: 236.6

In [215]:
num_3D = np.array([[1, 3, 4],
                   [6, 10, 77],
                   [9, 20, 24]
                   ])
num_3D.shape

(3, 3)

In [216]:
nums1 = np.arange(1, 10)
nums1.shape

(9,)

In [217]:
# change 1D to 3D array
nums1.reshape(3, 3)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [221]:
nums_3x3 = nums1.reshape(3, 3)
# Adds all numbers together
np.sum(nums_3x3)
np.sum(nums_3x3, axis =0)

45